<html>

<head>
	<title>Refer-A-Friend</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css" />
	<style>
		body {
			padding-top: 80px;
		}
	</style>
</head>

<body>
	<div class="container">

		<div class="jumbotron text-center">
			<h1>You Have Been Invited!!</h1>

			<p>
				<%=result.sendername%> has invited you to join this wonderful app
			</p>
			<p> <%=result.sendername%> says: <%=result.sendermsg%></p>
		</div>

	</div>
</body>

</html>